/* common fontstyle */
body{
    font-family: 'EB Garamond', serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/* nav style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav-logo{
    font-size: 25px;
    font-weight: 700;
}
.middle-text{
    color: #E55473;
    font-size: 40px;
    font-weight: 800;
}
nav > ul{
    display: flex;
    
    
}
nav li {
    list-style: none;
    margin-right: 50px;
    
}
nav li >a {
    text-decoration: none;
    font-size: 18px;
}
li a:hover{
    background-color: lightcoral;
    color: white;
    padding: 8px;
    border-radius: 25px;
}

/* header section style */
.header{
    background: rgba(229, 84, 115, 0.10);
    margin: 0;
}

.banner{
    padding: 0 240px;
    display: flex;
    align-items: center;
    /* gap: 90px; */
}

.banner-heading{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin: 0;
    padding: 30px 0;
    
}
.banner-text{
    width: 670px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /*166.667% */
    margin: 0;
    padding-bottom: 30px;
}

.banner .banner-pic{
    width: 630px;
    height: 800px;
}

.btn-primary{
    background-color: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    padding: 20px 40px;
    border-radius: 11px;
}

/* feature flower sections style of main section  */

.feature-conteiner{
    margin-top: 150px;
}

.feature-heading{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    
}
.feature-text{
    color: rgba(39, 39, 39, 0.60);
    /* width: 600px; */
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}

/* feature flowers style */

.flowers-conteiner{
    padding: 50px 240px;
    display: flex;
    align-items: center;
    gap: 25px;
}
.flower-bg1{
    width: 465px;
    height: 540px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.flower-bg2{
    width: 465px;
    height: 540px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
.flower-bg3{
    width: 465px;
    height: 540px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    
}
.feature-img1{
    width: 370px;
    height: 370px;
    padding: 170px 56px 0;
}
.feature-img2{
    width: 370px;
    height: 370px;
    padding: 130px 56px 0;
}
.feature-img3{
    width: 370px;
    height: 370px;
    padding: 170px 52px 0;
}

.flower-name{
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px; /* 145.833% */
    text-decoration-line: underline;
}

/* start hot deal section style */
.hot-deal{
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05)
}
.deal-conteiner{
    display: flex;
    gap: 170px;
    margin: 0 400px 0 390px;
    padding: 100px 0;
    align-items: center;
    justify-content: center;
    
}
.deal-details{
    /* width: 594px; */
    text-align: center;
}
.deal-heading{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin: 0;
    padding: 20px 0;
}
.deal-off{
    color: #E55473;
    font-size: 40px;
    font-weight: 800;
}
.deal-btn{
    border: 0;
    padding: 20px 40px;
    border-radius: 11px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    
}
/* instragram section style */


.insta-heading{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 120px;
    margin-bottom: 0;
    padding: 20px;
}

.insta-flower{
    margin: 0 240px;
    display: flex;
    gap: 25px;
    padding-top: 45px;
}
.insta-img{
    width: 338px;
    height: 396px;
}

/* latest deal section style */

.latest-section{
    margin: 0 240px;
}

.latest-conteiner{
    background-image: url('../Flower Asset/Rectangle 9.png');
    margin: 125px 0;
    height: 440px;
}

.latest-heading{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    /* margin-top: 120px; */
    margin-bottom: 0;
    padding-top: 120px;
}
.latest-form{
    margin: 48px 287px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.latest-input{
    padding: 10px;
    border-radius: 8px;
    background: #FFF;
    width: 700px;
    height: 34px;
    font-size: 18px;
    border: 0;
}
.subscribe-btn{
    border-radius: 8px;
    background: #E55473;
}
/* footer section style */

.footer-conteiner{
    background-color: #111010;
    max-width: 1922px;
    height: 449px;
}

.footer-heading{
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    padding-top: 128px;
    margin: 0;
}
.footer-shop{
    color: #FFF;
    font-size: 48px;
    font-weight: 800;
}
.footer-text{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 22px;
}
.footer-restriction{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding-top: 30px;
}